<!-- Display ghost text -->

<button class="speaker" (click)="speakText()">
  <img src="../assets/images/speaker.png" alt="speaker logo" />
</button>

<div style="text-align: center">
  <input
    (input)="onInputChange($event)"
    inputmode="none"
    class="input"
    value="{{ userInput }}"
    placeholder="Tap on the virtual keyboard to start"
    type="text"
    id="userInput"
    [(ngModel)]="userInput"
    [value]="userInput"
  />
  <br />
  <div class="simple-keyboard">
    <ion-button
      class="suggestion"
      (click)="CompletePrediction(suggestions[2])"
      >{{ suggestions[2] }}</ion-button
    >
    <ion-button
      class="suggestion"
      (click)="CompletePrediction(suggestions[0])"
      style="border-left: solid; border-right: solid"
      >{{ suggestions[0] }}</ion-button
    >
    <ion-button
      class="suggestion"
      (click)="CompletePrediction(suggestions[1])"
      >{{ suggestions[1] }}</ion-button
    >
  </div>
</div>
