<!-- Display ghost text -->

<button class="speaker" (click)="speakText()">
  <img src="../assets/images/speaker.png" alt="speaker logo" />
</button>

<div style="text-align: center">
  <input
    (input)="onInputChange($event)"
    inputmode="none"
    class="input"
    value="{{ userInput }}"
    placeholder="Tap on the virtual keyboard to start"
    type="text"
    id="userInput"
    [(ngModel)]="userInput"
    [value]="userInput"
  />
  <br />
  <ion-button (click)="CompletePrediction()" size="large" type="submit">
    Predict
  </ion-button>
  <ion-button (click)="clearInput()" size="large" type="submit">
    Clear
  </ion-button>

  <div class="simple-keyboard">
    <ion-button class="suggestion">{{ suggestions.get(2) }}</ion-button>
    <ion-button class="suggestion" style="border-left: solid; border-right: solid;">{{ suggestions.get(0) }}</ion-button>
    <ion-button class="suggestion">{{ suggestions.get(1) }}</ion-button>
  </div>
</div>