<ion-header>
  <ion-toolbar>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col size="6" size-sm="4" *ngFor="let image of images; let i = index">
      <ion-img [src]="image.imageUrl"></ion-img>
      <div>
        <ion-button (click)="readCaption(image.caption)">
          <ion-icon name="volume-high-outline" slot="start"></ion-icon>
          <p>{{ image.caption }}</p>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
