<ion-header>
  <ion-toolbar>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input type="file" (change)="onFileSelected($event)"></ion-input>
  <ion-input
    type="text"
    placeholder="Enter caption..."
    [(ngModel)]="caption"
  ></ion-input>
  <ion-button type="button" (click)="uploadImageWithCaption()"
    >Upload Image With Caption API Test</ion-button
  >
  <ion-button type="button" (click)="detectObjects()"
    >Detect Objects</ion-button
  >

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="4" *ngFor="let image of images; let i = index">
        <ion-button expand="block" class="image-button" (click)="openModal(i)">
          <ion-img
            draggable="false"
            (dragstart)="(false)"
            class="unselectable"
            [src]="image.imageUrl"
          ></ion-img>
        </ion-button>
        <div>
          <ion-button (click)="readCaption(image.caption)">
            <ion-icon name="volume-high-outline" slot="start"></ion-icon>
            <p>{{ image.caption }}</p>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngFor="let modal of modals">
    <ion-modal (willDismiss)="onWillDismiss($event, modal.index)">
      <ng-template>
        <ion-content>
          <image-cropper
            [imageURL]="images[modal.index].imageUrl"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            format="png"
            (imageLoaded)="imageLoaded($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
          <div style="text-align: center">
            <ion-button
              class="center"
              (click)="readCaption(images[modal.index].caption)"
            >
              <ion-icon name="volume-high-outline" slot="start"></ion-icon>
              <p>{{ images[modal.index].caption }}</p>
            </ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ng-container>
</ion-content>
