<ion-row>
  <ion-col size="6" size-sm="4" *ngFor="let image of images; let i = index">
    <ion-button expand="block" class="image-button" (click)="openModal(i)">
      <ion-img
        draggable="false"
        (dragstart)="(false)"
        class="unselectable"
        [src]="image.imageUrl"
      ></ion-img>
    </ion-button>
    <div>
      <ion-button (click)="readCaption(image.caption)">
        <ion-icon name="volume-high-outline" slot="start"></ion-icon>
        <p>{{ image.caption }}</p>
        <!-- Show ID and caption -->
      </ion-button>
    </div>
  </ion-col>
</ion-row>
