/* ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire space 
  border: solid 1px rgb(66, 173, 226); /* Blue border line 
  border-radius: 20px; /* Round corners 
  size: 6;
  overflow: hidden; /* Hide overflow content to round corners 
  aspect-ratio: 16/9;
} */

ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

p {
  margin-top: 5px;
}

.plain-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.image-button {
  color: black;
  --background: none;
  --box-shadow: none;
}

ion-button:active {
  color: #fff;
}

:host {
  --image-size: 400px; /* Change this value to adjust the size of the images */
}

ion-col ion-img {
  width: var(--image-size);
  height: var(--image-size);
}

ion-modal {
  --border-radius: 10px; /* Round modal corners */
  --background: #fff; /* Modal background color */
}

ion-modal::part(backdrop) {
  background: rgba(
    209,
    213,
    219,
    0.8
  ); /* Backdrop background color and opacity */
}

ion-modal ion-toolbar {
  --background: rgb(14, 116, 144); /* Toolbar background color */
  --color: white; /* Toolbar text color */
}

.ion-padding {
  --padding-start: var(--ion-padding, 0px);
  --padding-end: var(--ion-padding, 0px);
  --padding-top: var(--ion-padding, 0px);
  --padding-bottom: var(--ion-padding, 0px);
  --padding-right: var(--ion-padding, 0px);
  padding-inline-start: var(--ion-padding, 0px);
  padding-inline-end: var(--ion-padding, 0px);
  padding-top: var(--ion-padding, 0px);
  padding-bottom: var(--ion-padding, 0px);
}

:host {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-border-width: 0 0 0;
}

ion-item {
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.red-box {
  position: absolute;
  border: 2px solid red;
  background-color: transparent;
}

.bounding-box {
  --background: none;
  --box-shadow: none;
}

.modal-image {
  width: auto; /* Reset width to auto */
  height: auto; /* Reset height to auto */
  max-width: 100%; /* Ensure image does not exceed modal width */
  max-height: 100%; /* Ensure image does not exceed modal height */
  object-fit: contain; /* Maintain aspect ratio and fit inside container */
  border-radius: 10px; /* Round corners */
}

ion-modal {
  --modal-width: auto;
  --modal-height: auto;
}
