
button {
  margin-right: 20px;
  font-size: 18px;
  max-width: 300px;
  max-height: 100px;
  text-transform: uppercase;
  padding: 12px 24px;
  border: 2px solid #61c6d1;
  border-radius: 25px;
  background-color: #61c6d1;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ffffff;
  color: #61c6d1;
  transform: scale(1.05);
}
.camera-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.cameraPreview {
  z-index: 1;
  display: flex; 
  width: 100%;
  height: 100%;
  position: absolute;
}
.camera-controls {
  z-index: 10; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

#capture
{
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
}
#flip{
  position: absolute;
  bottom: 30px;
  left: calc(50% + 125px);
  width: 50px;
  height: 50px;

}
#gallery{
  position: absolute;
  bottom: 30px;
  left: calc(50% - 175px);
  width: 50px;
  height: 50px;
}
.button_color {
  --background: #61c6d1;
  --background-hover: #ffffff;
}


ion-item {
  --border-radius: 2px;
  --background: #ffffff;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-border-width: 1px;
  --inner-border-color: rgba(0, 0, 0, 0.1);
  --inner-box-shadow: none;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: none;
  height: 40px;
  box-sizing: border-box;
}

ion-textarea::part(textarea) {
  font-size: 16px;
  line-height: 1;
  height: 100%;
  text-align: center;
  border-radius: 2px;
}

ion-label {
  color: #999999;
}

ion-textarea::part(textarea) {
  padding: 0 8px; 
}
ion-textarea::part(textarea):focus {
  border-radius: 2x;
  outline: none;
}

.caption-box {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
