<ion-modal #modal (ionModalWillDismiss)="stopCamera()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirmCropping()" *ngIf="myImage">Confirm</ion-button>
        </ion-buttons>
        <ion-title>Visual Scene Display</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div #cameraPreview class="camera-preview"></div>
      <div *ngIf="photoCaptured">
        <!-- Display captured image -->
        <img [src]="image" />
      </div>
      <div *ngIf="!photoCaptured">
        <!-- Capture and other buttons -->
        <ion-button (click)="captureImage()">Capture</ion-button>
        <ion-button (click)="selectImageFromGallery()">Select from Gallery</ion-button>
      </div>
      <ion-input
        *ngIf="photoCaptured"
        [(ngModel)]="buttonText"
        style="border: none; background-color: transparent; color: inherit; text-align: center;"
      >Edit:</ion-input>
      <div class="button-group" *ngIf="photoCaptured">
        <ion-button class="button-left" (click)="retakePhoto()">Retake Photo</ion-button>
        <ion-button class="button-right">
          <ion-icon name="volume-high-outline" slot="start"></ion-icon>
          {{ buttonText }}
        </ion-button>
      </div>
      <div *ngIf="photoCaptured && !myImage">
        <ion-img [src]="croppedImage ? croppedImage : image"></ion-img>
        <ion-button class="button_color" (click)="retakePhoto()" expand="block" id="capture">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
        <ion-button class="button_color" (click)="editPhoto()" expand="block" id="gallery">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
      <image-cropper
        #cropper
        *ngIf="myImage"
        [imageBase64]="myImage"
        format="png"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        (imageCropped)="imageCropped($event)"
      ></image-cropper>
      <ion-img [src]="croppedImage ? croppedImage : image"></ion-img>
    </ion-content>
  </ng-template>
</ion-modal>
