<button id="open-modal" expand="block">Open Modal</button>
<ion-modal
  trigger="open-modal"
  (willDismiss)="onWillDismiss($event)"
  (ionModalDidPresent)="startCamera()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Visual Scene Display</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="camera-container">
      <div id="cameraPreview" class="cameraPreview"></div>
      <div class="camera-controls">
        <button (click)="captureImage()" expand="block" id="capture">
          Capture
        </button>
        <button (click)="flipCamera()" expand="block" id="flip">Flip</button>
      </div>
    </div>
    <ion-img [src]="image" *ngIf="image && !cameraActive"></ion-img>
  </ng-template>
</ion-modal>
