<ion-modal #modal (willDismiss)="stopCamera()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            (click)="cropImage()"
            *ngIf="photoCaptured && !croppedImage"
            >Confirm</ion-button
          >
        </ion-buttons>

        <ion-title>Visual Scene Display</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div #cameraPreview class="camera-preview"></div>
      <div *ngIf="photoCaptured">
        <!-- Display captured image -->
        <img [src]="image" />
      </div>
      <div *ngIf="!photoCaptured">
        <!-- Capture and other buttons -->
        <ion-button (click)="captureImage()">Capture</ion-button>
        <ion-button (click)="selectImageFromGallery()"
          >Select from Gallery</ion-button
        >
      </div>
      <ion-input
        *ngIf="photoCaptured"
        [(ngModel)]="buttonText"
        style="
          border: none;
          background-color: transparent;
          color: inherit;
          text-align: center;
        "
        >Edit:</ion-input
      >
      <div class="button-group">
        <ion-button
          class="button-left"
          *ngIf="photoCaptured"
          (click)="retakePhoto()"
        >
          Retake Photo
        </ion-button>
        <ion-button class="button-right" *ngIf="photoCaptured">
          <ion-icon name="volume-high-outline" slot="start"></ion-icon>
          {{ buttonText }}
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
