<section>
    <div class="icon-container">
        <a href="#" [routerLink]="['/room-assignments']"><img src="../assets/images/gallery_icon.png" alt="Gallery icon" width="282px" height="242px"><div>Gallery</div></a>
        <a href="#" [routerLink]="['/room-assignments']"><img src="../assets/images/VSD_icon.png" alt="Visual Scene Display icon" width="282px" height="242px"><div>Visual Scene Display</div></a>
        <a href="#" [routerLink]="['/room-assignments']"><img src="../assets/images/favorite_words_icon.png" alt="Favorite Words icon" width="209px" height="242px"><div>Favorite Words</div></a>
      </div>
</section>
