/* Add styling for the header */
section {
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-items: center; /* Center items horizontally */
    padding: 10px;
  }
  
  /* Style the buttons container */
  .icon-container {
    display: flex;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  /* Style the buttons */
  a {
    margin-left: 125px;
    margin-right: 125px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
  }

  img {
    margin-bottom: 28px;
  }
  