<section>
  <div class="icon-container">
    <a [routerLink]="['/gallery']"
      ><img
        src="../assets/images/gallery_icon.png"
        alt="Gallery icon"
        width="50%"
        height="47%"
      />
      <div>Gallery</div></a
    >
    <a [routerLink]="['/']"
      ><img
        src="../assets/images/VSD_icon.png"
        alt="Visual Scene Display icon"
        width="50%"
        height="47%"
      />
      <div>Visual Scene Display</div></a
    >

    <a [routerLink]="['/keyboard']"
      ><img
        src="../assets/images/favorite_words_icon.png"
        alt="Favorite Words icon"
        width="50%"
        height="47%"
      />
      <div>Keyboard</div></a
    >
  </div>
</section>
