/* Add styling for the header */
nav {
  display: flex;
  flex-direction: column; /* Display items vertically */
  padding: 10px;
}

/* Style the logo container */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100px;
  margin-right: 10px; /* Adjust the margin as needed */
}

h1 {
  font-size: 25px; /* Adjust the font size as needed */
  margin: 0; /* Remove default margin */
}

.profile {

}
