<header>
  <div class="logo-container">
    <img src="../assets/images/logo.png" alt="logo" />
    <h1>AAC SARGIK</h1>
  </div>
  <div class="buttons-container">
    <button mat-flat-button *ngIf="isUserLoggedIn" [routerLink]="['/gallery']">
      Gallery
    </button>
    <button mat-flat-button *ngIf="isUserLoggedIn" [routerLink]="['/']">
      Keyboard
    </button>
    <button mat-flat-button *ngIf="isUserLoggedIn" [routerLink]="['/']">
      Visual Scene Display
    </button>
    <button mat-raised-button *ngIf="isUserLoggedIn" (click)="logout()">
      Logout
    </button>

    <button
      mat-raised-button
      *ngIf="!isUserLoggedIn"
      (click)="openCapacitorSite()"
    >
      Login
    </button>
  </div>
</header>
