@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Add styling for the header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Style the logo container */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 90px;
  margin-right: 10px; /* Adjust the margin as needed */
}

h1 {
  font-size: 32px; /* Adjust the font size as needed */
  margin: 0; /* Remove default margin */
  font-weight: bold;
}

/* Style for the section containing the buttons */
section {
  display: flex;
  justify-content: center; /* Center the button container */
}

.icon-container {
  display: flex; /* Allow buttons to sit side-by-side */
  flex-wrap: wrap; /* Wrap buttons if they don't fit in a line */
  justify-content: center; /* Center the buttons within their row*/
}

/* Shift the middle button to the left and add space on the right */
.icon-container ion-button:nth-child(1) {
  margin-left: -200px; /* Adjust the negative value to shift left */
  margin-right: 30px; /* Adjust to add space on the right */
}

/* Styling for individual buttons */
ion-button {
  margin: 0 15px 15px 0; /* Add space between buttons horizontally and vertically */
}

/* Align the profile button to the top and add margin */
.profile {
  align-self: flex-start;
  margin: 30px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
