<div class="container">
  <ion-ripple-effect></ion-ripple-effect>
  <ion-button
    expand="block"
    (click)="googleSignIn()"
    color="danger"
    *ngIf="!authService.isAuthenticated()"
  >
    <ion-icon slot="start" name="logo-google"></ion-icon>
    LogIn with Google
  </ion-button>

  <ion-button
    expand="block"
    (click)="googleSignOut()"
    color="danger"
    *ngIf="authService.isAuthenticated()"
  >
    <ion-icon slot="start" name="logo-google"></ion-icon>
    SignOut
  </ion-button>
</div>
