<ion-title>
    Image Gallery
</ion-title>
<h1>
  <div class="buttons-container">
    <button mat-flat-button [routerLink]="['/']">Menu</button>
  </div>
</h1>

<ion-content padding>
  <ion-segment [(ngModel)]="galleryType">
    <ion-segment-button value="regular">
        Regular
    </ion-segment-button>
    <ion-segment-button value="pinterest">
      Pinterest
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="galleryType">
    <ion-grid *ngSwitchCase = "'regular'">
      <ion-row>
        <ion-col *ngFor = "let image of[1,2,3,4,5,6,7]">
          <div class="image-container" [style.background-image]="'url(assets/images/'+image+'.jpg)'">

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

